/* <!-- total crime banner ---- --> */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    margin: 25px;
    padding: 20px;
    background-color: #111;
    color: #fff;
    border-radius: 20px;
    font-size: 22px;
    text-align: center;
    width: 25%;
}

.total-crime-digit {
    margin: 5px;
    padding: 20px;
    background-color: #111;
    color: #fff;
    border-radius: 20px;
    font-size: 22px;
    text-align: center;
    width: 25%;
}

/* <!-- total crime banner end ---- --> */


/* table representation start */
.card-body {
    overflow: scroll;
    height: 58vh;
}

/* table representation start end */